* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    background-color: #fff;
    color: #333;
    top: 0;
    margin: 0;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & img {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 225px;
    }
}

nav {
    margin-right: 50px;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    display: flex;
    justify-content: center;
    width: 100%;
    & ul {
        display: flex;
        gap: 1rem;
    }
    & a {
        color: black;
        text-decoration: none;
    }
    & a:hover {
        color: rgb(100, 182, 100);
    }
}

.ingredientes li {
    margin-top: 5px;
    list-style: none;
    text-decoration: none;
    font-style: none;
}

.ingredientes {
    margin-left: 50px;
    align-self: flex-start;
    text-align: left;
    max-width: 300px;
}

.ingredientes ul li {
    list-style-type: '- ';
}


.container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    color: #0a8f08;
    text-align: center;
}

.recipe {
    margin-top: 165px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    background-color: #f9f9f9;
    width: 900px;
}

.recipe ol {
    margin-left: 20px;
    margin-right: 20px;
}

.recipe li {
    margin-bottom: 15px;
}

.recipe a{
    color: rgb(100, 182, 100);
}

.recipe a:hover {
    color: rgb(134, 202, 134); 
}
.recipe h2 {
    color: #0a8f08;
    margin-bottom: 5px;
}

.description {
    font-style: italic;
    color: #666;
}

p {
    margin: 5px 0;
}

.icons {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.icon {
    font-size: 18px;
}

.check {
    color: green;
}

.warning {
    color: orange;
}

.utensil {
    color: black;
}

.vegetarian {
    color: green;
}

.like{
    color: rgb(100, 182, 100);
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.recipe-image {
    width: 100px;
    border-radius: 5px;
}

footer {
    width: 100%;
    background-color: black;
    & a{
        font-size: 12px;
        color: white;
    }
}

img {
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;

}

.label {
    margin-right: 25px;
}